<!DOCTYPE html>
<html ng-app="falloutApp">
    <head>
        <meta http-equiv="Cache-control" content="No-Store">
        <meta http-equiv="Cache-Control" content="max-age=60">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" href="dist/leaflet.css">
        <link rel="stylesheet" href="dist/ui-bootstrap-csp.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/bootstrap-theme.css">
        <link rel="stylesheet" href="css/pure-drawer.css"><!--
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="//code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="dist/angular.min.js"></script>
        <script src="dist/angular-local-storage.js"></script>
        <script src="dist/angular-animate.min.js"></script>
        <script src="dist/leaflet.js"></script>
        <script src="dist/angular-simple-logger.min.js"></script>
        <script src="dist/ui-leaflet.js"></script>
        <script src="dist/ui-bootstrap.js"></script>
        <script src="dist/ui-bootstrap-tpls.js"></script>
        <script src="js/Directives/angular-switch.js"></script>
        <script src="js/app.js"></script>
        <script src="js/constants.js"></script>
        <script src="js/Services/mapDataService.js"></script>
        <script src="js/Controllers/mainController.js"></script>
        <script src="js/Controllers/mapPointController.js"></script>
        <!-- <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script> -->
        <title>Fallout 76 Interactive Map Project</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    </head>
    <body ng-controller="mainController">
        <div class="full-height box">
            <div class="horizontal-collapse" uib-collapse="sidebarIsCollapsed" horizontal>
                <div class="wrapper">
                    <div class="headerMaterial">
                        <img src="img/Fallout_76_logo_sm.png" ALT="Fallout 76 Map Project">
                        <div class="subheader"> Fallout 76 Interactive Map Project<br /> <a href="https://discord.gg/ASAh7vV">
                            <img src="img/discord-logo.png" ALT="Join us on Discord!" height="34" width="100" style="margin:0 8px 8px 0;"> </a>
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Fallout 76 Interactive Map Project" data-url="http://www.falloutmaps.com/" data-via="SHC_Mendrak" data-hashtags="Fallout76" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
                <div class="accordionContainer">
                    <uib-accordion close-others="true">
                        <div uib-accordion-group class="panel-default" ng-repeat="category in categories" is-open="category.isOpen">
                            <uib-accordion-heading ng-click="category.isOpen=!category.isOpen">
                                <div>{{category.CategoryName}}
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': category.isOpen, 'glyphicon-chevron-right': !category.isOpen}"></i>
                                </div>
                            </uib-accordion-heading>
                            <div class="container groupContainer">
                                <div class="row">
                                    <form>
                                        <div ng-repeat="group in category.Groups | orderBy:'GroupName'" class="col-md-6 groupItem" ng-click="setGroupStates(group)">
                                            <img class="groupMarker" ng-class="{'group-disabled': !group.visible}" ng-src="{{getMarkerUrl(group.Marker)}}" />
                                            <div class="groupLabel" ng-class="{'group-disabled': !group.visible}">{{group.GroupName}}</div>
                                            <div class="pill" ng-class="{'group-disabled': !group.visible}">{{group.Points.length}}</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
            <div class="btn-default collapseButton" ng-click="sidebarIsCollapsed = !sidebarIsCollapsed">
                <div class="glyphicon drawerPullIcon" ng-class="{'glyphicon-chevron-right': sidebarIsCollapsed, 'glyphicon-chevron-left': !sidebarIsCollapsed}"> </div>
            </div>
        </div>
        <div class="mapLayerToggleContainer wrapper">
            <div class="vertCentered">
                <div class="vectorLabel">Military</div>
                <div class="layerSwitch">
                    <switch class="layerSwitch" ng-model="gameMapIsCurrent" ng-change="changeCallback"></switch>
                </div>
                <div class="inGameMapLabel">Kitsch</div>
            </div>
        </div>
        <leaflet class="rowLocal content" width="100%" height="100%" layers="layers" markers="markers" maxbounds="maxbounds" defaults="defaults" lf-center="center"></leaflet>
    </body>
</html>
