<div style="z-index:990;">
    <div class="full-height box">
        <div class="horizontal-collapse" uib-collapse="sidebarIsCollapsed" horizontal>
            <div class="wrapper">
                <div class="headerMaterial">
                    <img src="img/Fallout_76_logo_sm.png" ALT="Fallout 76 Map Project">
                    <div class="subheader"> Fallout 76 Interactive Map Project<br /> <a href="https://discord.gg/ASAh7vV">
                        <img src="img/discord-logo.png" ALT="Join us on Discord!" height="34" width="100" style="margin:0 8px 8px 0;"> </a>
                    </div>
                </div>
            </div>
            <div class="accordionContainer">
                <!--<div class="buttonBar btn-group ">-->
                <label class="btn btn-primary pull-left" ng-click="toggleInverse()"><span class="fas fa-not-equal">Invert</span></label>
                <label class="btn btn-primary pull-right" ng-model="isAllDeselected" ng-click="toggleAll()"><span class="far" ng-class="{'fa-eye': !isAllDeselected, 'fa-eye-slash': isAllDeselected}" >{{isAllDeselected?'Select All' : 'Deselect All'}}</span></label>
                <!--</div>-->
                <div style="clear:both;"></div>
                <uib-accordion close-others="true">
                    <div uib-accordion-group class="panel-default" ng-repeat="category in categories" is-open="category.isOpen">
                        <uib-accordion-heading ng-click="category.isOpen=!category.isOpen">
                            <div>{{category.CategoryName}}
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': category.isOpen, 'glyphicon-chevron-right': !category.isOpen}"></i>
                            </div>
                        </uib-accordion-heading>
                        <div class="groupContainer">
                            <div class="row">
                                <div class="col-1 col-md-offset-8"><div class="btn btn-link" ng-model="category.isDeselected" ng-click="selectToggleAll(category)"><span class="far" ng-class="{'fa-eye': !category.isDeselected, 'fa-eye-slash': category.isDeselected}" >{{category.isDeselected?'Select All' : 'Deselect All'}}</span></div></div>
                            </div>
                            <div class="row">
                                <div class="col-12 twelve"></div>
                            </div>
                            <div class="row">
                                <div ng-repeat="group in category.Groups | orderBy:'GroupName'" class="col-xs-6 no-gutters groupItem" ng-click="setGroupStates(group)">
                                    <i class="groupMarker"  ng-class="[getGroupIcon(group), {'group-disabled': !group.visible}]"></i>
                                    <!--<img class="groupMarker" ng-class="{'group-disabled': !group.visible}" ng-src="{{getMarkerUrl(group.Marker)}}" />-->
                                    <div class="groupLabel" ng-class="{'group-disabled': !group.visible}">{{group.GroupName}}</div>
                                    <div class="pill" ng-class="{'group-disabled': !group.visible}">{{group.Points.length}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
        <div class="btn-default collapseButton" ng-click="sidebarIsCollapsed = !sidebarIsCollapsed">
            <div class="glyphicon drawerPullIcon" ng-class="{'glyphicon-chevron-right': sidebarIsCollapsed, 'glyphicon-chevron-left': !sidebarIsCollapsed}"> </div>
        </div>
    </div>
    <div class="mapLayerToggleContainer wrapper">
        <div class="vertCentered">
            <div class="vectorLabel">Military</div>
            <div class="layerSwitch">
                <switch class="layerSwitch" ng-model="gameMapIsCurrent" ng-change="changeCallback"></switch>
            </div>
            <div class="inGameMapLabel">Kitsch</div>
        </div>
    </div>
    <leaflet class="mapElement" width="100%" height="100%" layers="layers" markers="markers" maxbounds="maxbounds" defaults="defaults" lf-center="center"></leaflet>
</div>